@media(min-width: 350px){
  body {
    margin: 0;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.6em;
}

h1{
  color: #20a8b4;
  font-size: 40px;
  font-weight: 500;
  margin-left: 35px;
  width: auto;
  white-space: nowrap;
}

.parent {
background-color: #f2f2f2;
width: auto;
height: 350px;
margin: 0px;
position: relative;
}

a{
text-decoration: none;
color: #000;
transition: 0.2s all;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
margin-right: 10px;
margin-bottom: 10px;
display: block;
font-size: 16px;
white-space: nowrap;
text-align: justify;
}

h2{
  color: #000;
  font-size: 19;
  font-weight: 500;
  margin-left: 35px;
}

p{
color: #000;
font-size: 50;
font-weight: 400;
margin-left: 35px;
}

h3{
color: #000;
font-size: 50;
font-weight: 400;
margin-left: 35px;
}

h4{
color: #fff;
font-size: 50;
font-weight: 400;
text-align: center;
display: inline-block;
height: 40px;
width: 350px;
border-radius:10px;
background: #20a8b4;
margin-left: 35px;
margin-right: 10px;
}

button {
color: white;
background-color: #20a8b4;
height: 40px;
width: 350px;
padding: 10px 10px 10px 10px;
margin-right: 10px;
border-radius: 10px;
border-style: none;
align-content: justify;
white-space: nowrap;
justify-content: center;
}

button:hover{
background-color: #ff5c0f;
}


button-parent{
align-content: space-between;
width: 300px;
height: 50px;
position: relative;
}


li {
list-style-type: none;
width: auto; 
text-align: justify;
}

a:hover {
color: #ff5c0f;
}

.orangeText{
color: #ff5c0f;
}

.whiteText{
color: #fff;
}

.container-2 div{
  float: left;
}

.float-left{
float: left;
}

.float-right{
float-right;
}

img {
margin-top: -175px;
margin-left: 600px;
}

.hidden{
display: none;
}

@media(min-width:768px){
.parent {
background-color: #f2f2f2;
width: auto;
height: 120px;
margin-top: 0px;
position: relative;
}

a{
text-decoration: none;
color: #000;
transition: 0.2s all;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
margin-bottom: 10px;
padding: 10px 5px 5px 5px;
display: block;
font-size: 16px;
white-space: nowrap;
text-align: justify;
align-content: center;
}

button {
  color: white;
  background-color: #20a8b4;
  height: 40px;
  width: 140px;
  padding: 0px 100px 0px 0px;
  margin: 0px;
  border-radius: 10px;
  border-style: none;
  align-content: justify;
  white-space: nowrap;
  justify-content: center;
  }

ul {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

li {
width: 50%;
}

.child-element {
width: 160px;
text-align: center;
padding: 10px;
}

.parent-container-row {
display: flex;
flex-direction: row;
}

.box-1{
flex: 1;
position: 1;
padding: 10px;
}

.box-2 {
flex: 1;
position: 2;
padding: 10px;
}

.box-3{
flex: 1;
position: 3;
padding: 10px;
}

.box-4{
flex: 1;
position: 4;
padding: 10px;
}

.box-5{
flex: 1;
position: 5;
padding: 10px;
}

.box-6{
flex: 3;
position: 1;
padding: 10px;
}

h4{
color: #fff;
font-size: 50;
font-weight: 400;
text-align: center;
display: inline-block;
height: 40px;
width: 90px;
border-radius:10px;
margin-left: 35px;
margin-right: 10px;
width: auto;
}

@media(min-width: 992px) {

.container-1{
position: relative;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 10px;
margin: 35px;
}

.hidden{
display: block;
}
